<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Resultado do IMC</title>
</head>
<body>
  <h1>Resultado do IMC</h1>
  <p>Peso: {{weight}} kg</p>
  <p>Altura: {{height}} m</p>
  <p>IMC: {{imc}}</p>
  <p>Descrição: {{imcDescription}}</p>
  <a href="/imc/form">Voltar</a>
</body>
</html>
